#forms-update div{
    margin: 20px auto;
}

#forms-update div label{
    margin: 5px auto;
}

.buttonModal button{
    margin: 5px 10px 20px 10px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
   .popup {
    background: #fff;
    max-width: 600px;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
   .popup h3 {
    margin-bottom: 10px;
  }
  
  #forms-update {
    text-align: center;
  }
  
  .buttonModal {
    margin-top: 20px;
  }
  
  .buttonModal button {
    margin: 0 10px;
  }
  
  .popup-container.active {
    display: flex;
  }
  