:root {
    ----gradient-color: #F7A7FD, #C896E3, #CDB1FA, #9E96E3, #A7B4FD;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to top, var(----gradient-color));
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    padding: 5%;
}

main {
    background-color: white;

    width: 400px;

    margin: auto;
    padding: 20px;

    border-radius: 8px;

    font-size: 17px;
}

.box_input {
    width: 250px;
    margin: 15px auto;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin: 20px auto 30px auto;
}

label {
    display: block;
    margin: 8px;
}

input {
    width: 250px;
    height: 25px;
    text-align: center;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
}

.ref{
    margin-top: 25px;
    text-align: center;
}

.ref p{
    margin: 5px auto;
}

.cadastro{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.cadastro:hover{
    text-decoration: underline;
}