 html, body {
    margin: 1000;
    padding: 1000;
    background-color: rgb(240, 238, 243); 
    background-size: cover;
    height: 800px;
    text-align: center; 
}
 h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 940px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
 body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  font-weight: 100;
 }
 fieldset {
    margin: 0 auto;
  max-width: 550px; 
  padding: 0 20px;
 }
 button {
    text-align: center;
    background-color: rgba(0.1);
 }
 div {
   text-align: left;
 }